.nav-container {
  background-color: #640d6b;
}

.nav-menu {
  background-color: #640d6b;
  height: auto;
}

.nav-menu-item a {
  cursor: pointer;
  color: white;
  display: block;
  padding: 0.5rem 1rem;
}

.nav-menu-item.orange-bg a {
  background-color: #ea580c;
  color: white;
  border-radius: 0.7rem;
  padding: 0.5rem 1rem;
  width: max-content;
  margin-left: 1rem;
}

.nav-menu-item.orange-bg a:hover {
  background-color: #d97706; /* Darker orange on hover */
}
