.nav-container {
  background-color: #640d6b;
}

.nav-menu {
  background-color: #640d6b; /* Tailwind color 'purple-700' */
  height: auto; /* Auto height to fit the number of items */
}

.nav-menu-item a {
  cursor: pointer;
  color: white; /* Set text color to white */
  display: block; /* Ensure the links are block elements */
  padding: 0.5rem 1rem; /* Add padding for better spacing */
}

.nav-menu-item.orange-bg a {
  background-color: #ea580c; /* Orange background */
  color: white; /* White text */
  border-radius: 0.7rem; /* Rounded corners */
  padding: 0.5rem 1rem; /* Add padding for better spacing */
  width: max-content;
  margin-left: 1rem;
}

.nav-menu-item.orange-bg a:hover {
  background-color: #d97706; /* Darker orange on hover */
}
